@import 'src/styles/variables';

$side-page-width: 250px;

.layout {
    min-height: 100vh;

    .header {
        position: sticky;
        top: 0;
        z-index: 1001;
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0 $desktop-side-padding;

        .headerContent {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: calc($desktop-content-width + $desktop-side-padding * 2);

            .logo {
                cursor: pointer;
                user-select: none;
            }

            .userDropdown {
                margin-right: 16px;
                color: $white-text;
                cursor: pointer;
                user-select: none;
            }
        }
    }

    .content {
        display: flex;
        justify-content: center;
        padding: 0 $desktop-side-padding;

        .pageWrapper {
            .page {
                width: $desktop-content-width;
                min-height: 380px;
                margin: 32px 0;
                padding: 32px;
                background: #fff;
                border-radius: 16px;
            }

            &.feedPage {
                display: flex;
                flex-direction: column;
            }
        }
    }

    .footer {
        text-align: center;
    }

    .fallbackWrapper {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}
