@import 'src/styles/variables';

$side-page-width: 250px;

.layout {
    min-height: 100vh;

    .header {
        position: sticky;
        top: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 $desktop-side-padding;

        .logo {
            color: $white-text;
            font-size: $font-size-xxlarge;
            cursor: pointer;
            user-select: none;
        }

        .username {
            margin-right: 16px;
            color: $white-text;
            user-select: none;
        }
    }

    .content {
        display: flex;
        justify-content: center;
        padding: 0 $desktop-side-padding;

        .pageWrapper {
            display: flex;
            flex-direction: row;
            gap: 32px;

            .page {
                width: $desktop-content-width;
                min-height: 380px;
                margin: 32px 0;
                padding: 32px;
                background: #fff;
                border-radius: 16px;

                &.feedPage {
                    width: $desktop-content-width - $side-page-width - 32px;
                }
            }

            .sidePage {
                width: $side-page-width;
                margin: 32px 0;
                padding: 32px;
                background: #fff;
                border-radius: 16px;
            }
        }
    }

    .footer {
        text-align: center;
    }
}
