@import 'src/styles/variables';

.feedFilters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 32px 0 0;
    padding: 32px;
    background: #fff;
    border-radius: 16px;
}
