@import 'src/styles/variables';

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;

    .form {
        width: 392px;

        .avatar {
            display: flex;
            justify-content: center;
            width: 100%;
            min-height: 110px;
        }
    }
}
