@import 'src/styles/variables';

.content {
    width: 100%;

    .avatar {
        display: flex;
        justify-content: center;
        padding: 32px;
    }

    .userInfoWrapper {
        display: flex;
        justify-content: space-between;

        .userInfo {
            display: grid;
            grid-gap: 16px;
            grid-template-rows: repeat(2, 64px);
            grid-template-columns: repeat(3, 200px);
            width: 350px;
            height: 200px;
            word-wrap: break-word;

            .caption {
                color: $secondary-text;
            }
        }
    }
}
