$base-size: 8px;

$desktop-side-padding: 64px;
$desktop-content-width: 860px;
$desktop-min-width: $desktop-content-width + $desktop-side-padding * 2;

// ============== COLORS ==============

$primary-background: #ffffff;
$dark-gray-background: #ebebeb;
$light-gray-background: #f6f6f6;
$danger-background: #ffddd6;
$success-background: #d7f8ae;

$gray-border: #d6d6d6;

$white-text: #ffffff;
$primary-text: #222222;
$secondary-text: #858585;
$empty-stub-text: #adadad;
$danger-text: #dd473b;
$success-text: #78bf2b;

// ============== FONT SIZES ==============
$font-size-xxlarge: 32px;
$font-size-xlarge: 22px;
$font-size-large: 18px;
$font-size-base: 16px;
$font-size-small: 14px;
$font-size-xsmall: 12px;
