@import 'src/styles/variables';

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;

    .userPanel {
        display: flex;
        justify-content: space-between;
        width: 650px;
    }

    .description {
        width: 650px;
    }

    .dates {
        display: flex;
        justify-content: flex-end;
        width: 650px;
        padding-bottom: 16px;
        color: $secondary-text;
        border-bottom: 1px solid $gray-border;
    }
}
