@import 'src/styles/variables';

.formItem {
    display: flex;
    justify-content: center;

    &.cover {
        min-height: 110px;
    }

    .control {
        width: 650px !important;
    }
}

.separatorWrapper {
    display: flex;
    justify-content: center;

    .separator {
        width: 650px;
        padding-bottom: 16px;
        border-top: 1px solid $gray-border;
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
